<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="5">

<listeners>
<listener class-name="TestNG.Listeners"></listener>
</listeners>
<parameter name="URL" value="www.vignesh.com"></parameter>
	<test thread-count="5" name="Running on packagelevel" >
		<packages>
			<package name="TestNG"></package>
		</packages >
	</test>

<test name="Beforetest and aftertest annotation" parallel="classes" thread-count="5">
<classes>
<class name="TestNGAnnotations.Differetnannotation"></class>
<class name="TestNGAnnotations.Suite"></class>
</classes>
</test>
	
	
	
	
	
	<test name="RegularExpression">
		<classes>
			<class name="TestNGRegularexpression.Regularexpression" >
				
				<methods>
					<include name="Day.*"></include>
				</methods>
			</class>
			
		</classes>
	</test>
</suite> <!-- Suite -->
